name: Build Docker Image 

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up QEMU
        if: github.event_name != 'pull_request'
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435
      - name: Log in to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804
        with:
          images: ghcr.io/${{ github.repository }}
      - name: Set VERSION based on trigger type
        id: extract_version
        run: |
          if [[ $GITHUB_REF_TYPE == "tag" ]]; then
            # For tag triggers, use the tag name
            echo "VERSION=${GITHUB_REF_NAME}" >> $GITHUB_ENV
          else
            # For branch/commit triggers, use the commit hash
            echo "VERSION=${GITHUB_SHA}" >> $GITHUB_ENV
          fi
      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: ${{  github.event_name == 'pull_request' && 'linux/amd64' || 'linux/amd64,linux/arm64' }}
          build-args: |
            VERSION=${{ env.VERSION }}

